<!-- Base -->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} | Musik </title>
    {% load static %}
    {% block head %}
    {% endblock head %}

    <link rel="stylesheet" type="text/css" href={% static 'music/base.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'music/player.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'music/top_songs.css' %}>


    <a class = "logo" href="/"> <img src = "{% static "music/musik.png" %}" width = "100" height="100"></a>


    {% block css %}
    {% endblock css %}
</head>
<body>
{% block body %}
{% endblock body %}

{% include 'music/player.html'  %}

{% block js %}
{% endblock js %}
</body>
</html>
